*{
    margin: 0;
    padding: 0;
}

.clr{
    height: 30px;
    width: 30px;
    background-color: aqua;
}

#follow{
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#img
{
    pointer-events: none;
    user-select: none;
}

#big
{
    pointer-events: none;
    user-select: none;
}

#title
{
    pointer-events: none;
    user-select: none;
}

#turt
{
    pointer-events: none;
    user-select: none;
}

button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #027536;
    color: #fff;
}

body
{
    background-image: url("background.jpg");
    
}